.ant-menu-horizontal {
    height: 30px;
    background-color: #404040;
}

.ant-menu-item {
    height: 29px;
    line-height: 29px;
    color: #fff;
}

.ant-menu-item-selected {
    background-color: #333 !important;
    color: #fff !important;
    border-bottom: none !important;
}