<div id="particles-js"></div>
<div class="outer">
  <form nz-form [formGroup]="loginForm" (ngSubmit)="login(loginForm.controls.userName,loginForm.controls.passWord)">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="email">用户名</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <nz-input formControlName="userName" [nzPlaceHolder]="'请输入用户名'">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="email">密码</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <nz-input formControlName="passWord" [nzType]="!isChecked ? 'password' : 'text'" [nzPlaceHolder]="'请输入密码'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <nz-switch [nzSize]="'default'" (click)="isChange()">
          <span checked>显示</span>
          <span unchecked>隐藏</span>
        </nz-switch>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col [nzSpan]="18" [nzOffset]="13" >
        <label nz-checkbox formControlName="remember" (click)="rememberUser()">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-form-control nz-col [nzSpan]="18" [nzOffset]="2">
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" [disabled]="!loginForm.valid">登录</button>
      </div>
    </div>
  </form>
</div>