.ant-layout {
    background-color: #fff;
}
.ant-layout-header {
    background-color: #fff;
    padding: 0 16px;
    height: 50px;
    line-height: 50px;
}

.ant-layout-header .ant-btn {
    margin-right: 10px;
}

.ant-table-tbody>tr>td {
    padding: 6px 8px;
}